body {
  /* background-image: url('path-to-your-background-image.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.course-builder {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.module {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggleColorMode{
  display: flex;
  justify-content: flex-end;
}